<div ng-controller="HoboCtrl" ng-init="getAllContainers()">
  <div class="alert-list">
    <div class="alert alert-danger alert-dismissable" ng-repeat="error in errors">
      <button type="button" class="close" aria-hidden="true" ng-click="removeError($index)">×</button>
      {{error.message}}
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Containers
        <button class="btn btn-circle btn-success btn-md" ng-click="openContainerModal()"><i class="fa fa-plus"></i>
        </button>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" ng-repeat="container in containers">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{container.repository}}/{{container.tag}}
          <span class="pull-right">
          <button class="btn btn-danger btn-circle btn-sm" ng-disabled="deleting['container'+container.id]">
            <i class="fa fa-minus" ng-click="deleteContainer(container.id)" ng-show="!deleting['container'+container.id]"></i>
            <i class="fa fa-spinner fa-spin" ng-show="deleting['container'+container.id]"></i>
          </button>
          </span>
        </div>
        <table class="port-table">
          <tr ng-repeat="port in container.ports">
            <td>{{port.containerPort}} -> {{port.hostPort}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>