<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Nodes</h1>
  </div>
</div>

<div class="row" ng-controller="NodeCtrl">
  <div class="col-lg-4" ng-repeat="node in nodes">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-desktop fa-fw"></i> {{node.hostname}}
        <div class="pull-right">
          {{node.containers.length}}
        </div>
      </div>
      <table class="table">
        <tbody>
        <tr ng-repeat="container in node.containers">
          <td>{{container.repository}}</td>
          <td>{{container.tag}}</td>
          <td>
            <table>
              <tr ng-repeat="port in container.ports">
                <td>{{port.containerPort}} -> {{port.hostPort}}</td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>